<a href="https://colab.research.google.com/github/Luis0426/OP_Visualizacion_Datos_Empresariales/blob/main/BD_Netflix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LIBRERIAS**

In [ ]:
#!pip install pandas matplotlib seaborn plotly
#!pip install --upgrade pandas seaborn

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import numpy as np
import plotly.graph_objects as go

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [3]:
#DATA FRAME
dataset = pd.read_csv('https://raw.githubusercontent.com/Luis0426/OP_Visualizacion_Datos_Empresariales/refs/heads/main/NetFlix.csv', sep = ',' )

dataset.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,5-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,1-Mar-16,2016,R,90,Comedies,New NFL star Thad buys his old teammates' belo...
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,United Kingdom,3-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV",This sequel to the award-winning nature series...

# **VER TIPOS**

In [6]:
dataset.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration         int64
genres          object
description     object
dtype: object

In [5]:
print(dataset['date_added'].head())

0    14-Aug-20
1    15-Dec-17
2     5-Jan-19
3     1-Mar-16
4     3-Dec-18
Name: date_added, dtype: object

In [7]:
#     convertir directamente, capturando errores
try:
    dataset['date_added'] = pd.to_datetime(dataset['date_added'])
except ValueError:
    dataset['date_added'] = pd.to_datetime(dataset['date_added'], format='%B %d, %Y', errors='coerce')

<ipython-input-7-3eddacb5d191>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dataset['date_added'] = pd.to_datetime(dataset['date_added'])

In [8]:
#verificar el tipo de datos despues de la conversion
print(dataset['date_added'].head())

0   2020-08-14
1   2017-12-15
2   2019-01-05
3   2016-03-01
4   2018-12-03
Name: date_added, dtype: datetime64[ns]

In [10]:
print(dataset['date_added'].head())


#Si hay valores NaT (Not a Time) despues de la conversion los podemos identificar asi
print(dataset['date_added'].isna().sum())

0   2020-08-14
1   2017-12-15
2   2019-01-05
3   2016-03-01
4   2018-12-03
Name: date_added, dtype: datetime64[ns]
10

In [11]:

rating_map = {
    'G': 1,
    'PG': 2,
    'PG-13': 3,
    'R': 4,
    'NC-17': 5,
    'TV-Y': 1,
    'TV-Y7': 2,
    'TV-G': 1,
    'TV-PG': 2,
    'TV-14': 3,
    'TV-MA': 4
}

In [12]:
#cREAR UNA NUEVA COLUMNA 'RATING NUMERIC' CON LOS VALORES CONVERTIDOS
dataset['rating_numeric'] = dataset['rating'].map(rating_map)

In [ ]:

#Mostrar las primeras filas para verificar la conversion
print(dataset[['ratiing', 'rating_numeric']].head())

#Obtener estadisticas basicas de la nueva columna numerica
print(dataset['rating_numeric'.describe])

In [16]:
dataset.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,description,rating_numeric
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2020-08-14,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,4.0
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,2017-12-15,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...,4.0

In [17]:
dataset.dtypes

show_id                   object
type                      object
title                     object
director                  object
cast                      object
country                   object
date_added        datetime64[ns]
release_year               int64
rating                    object
duration                   int64
genres                    object
description               object
rating_numeric           float64
dtype: object

# **ESTADISTICAS**

In [22]:
#Para variables numericas
numeric_columns = ['release_year','duration','rating_numeric']
print("Estadisticas descriptivas para variables numericas")
print(dataset[numeric_columns].describe())

       release_year     duration  rating_numeric
count   7787.000000  7787.000000     7685.000000
mean    2013.932580    69.122769        3.154066
std        8.757395    50.950743        0.936116
min     1925.000000     1.000000        1.000000
25%     2013.000000     2.000000        3.000000
50%     2017.000000    88.000000        3.000000
75%     2018.000000   106.000000        4.000000
max     2021.000000   312.000000        5.000000