<a href="https://colab.research.google.com/github/Luis0426/OP_Visualizacion_Datos_Empresariales/blob/main/Limpiar_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **EDICION DATAFRAME**


# IMPORTAR LIBRERIAS Y CREAR DATA **FRAME**

In [5]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'A': [1,2, np.nan,4,5],
    'B': [5,6,7,np.nan,9],
    'C': ['a','b','c','d','e'],
    'D': ['foo','bar','foo','bar','foo']
})

print("DataFrame Orginial:")
print(df)

DataFrame Orginial:
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar
2  NaN  7.0  c  foo
3  4.0  NaN  d  bar
4  5.0  9.0  e  foo

# LIMPIAR DATA FRAME

In [4]:
df_clean = df.dropna()
print("DataFrame sin filas nulas:")
print(df_clean)

DataFrame sin filas nulas:
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar
4  5.0  9.0  e  foo

# RELLENAR VALORES NULOS

In [6]:
df_filled = df.fillna(value={'A': df['A'].mean(),'B': df['B'].median()})
print("\nDataFrame con valores nulos rellenados:")
print(df_filled)

DataFrame con valores nulos rellenados:
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar
2  3.0  7.0  c  foo
3  4.0  6.5  d  bar
4  5.0  9.0  e  foo

# ELIMINAR DUPLICADOS

In [7]:
df_no_duplicates = df.drop_duplicates(subset='D')
print("\nDataFrame sin duplicados en la columna D:")
print(df_no_duplicates)

DataFrame sin duplicados en la columna D:
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar

# RENOMBRAR COLUMNAS

In [8]:
df_renamed = df.rename(columns={'A': 'Alpha', 'B': 'Beta','C': 'Charlie', 'D': 'Delta'})
print("\nDataFrame con columnas renombradas:")
print(df_renamed)

DataFrame con columnas renombradas:
   Alpha  Beta Charlie Delta
0    1.0   5.0       a   foo
1    2.0   6.0       b   bar
2    NaN   7.0       c   foo
3    4.0   NaN       d   bar
4    5.0   9.0       e   foo