<a href="https://colab.research.google.com/github/Luis0426/OP_Visualizacion_Datos_Empresariales/blob/main/Operaciones_Basicas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORTACION DE LIBRERIAS Y CREACION DE DATA FRAME

In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'Nombre':['Ana','Juan','Maria','Carlos','Sofia'],
    'Edad':[25, 30, 22, 28, 35],
    'Ciudad':['Madrid','Barcelona','Madrid','Valencia','Barcelona'],
    'Puntuacion':[85,92,78,95,88]
})

print("DataFrame Original: ")
print(df)

DataFrame Original:
   Nombre  Edad     Ciudad  Puntuacion
0     Ana    25     Madrid          85
1    Juan    30  Barcelona          92
2   Maria    22     Madrid          78
3  Carlos    28   Valencia          95
4   Sofia    35  Barcelona          88

# FILTRADO

In [2]:
mayores_25 = df[df['Edad'] > 25]
print("\nPersonas Mayores de 25 a単os:")
print(mayores_25)

Personas Mayores de 25 a単os:
   Nombre  Edad       Pais  Puntuacion
1    Juan    30  Barcelona          92
3  Carlos    28   Valencia          95
4   Sofia    35  Barcelona          88

# AGRUPACION Y AGREGACION

In [8]:
resultado = df[df['Edad'] > 25].groupby('Ciudad')['Puntuacion'].max()
print("\nMaxima puntuacion por ciudad para personas mayores de 25 a単os:")
print(resultado)

Maxima puntuacion por ciudad para personas mayores de 25 a単os:
Ciudad
Barcelona    92
Valencia     95
Name: Puntuacion, dtype: int64