<a href="https://colab.research.google.com/github/Luis0426/OP_Visualizacion_Datos_Empresariales/blob/main/Uniones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TIPOS DE UNIONES (JOINS) EN PYTHON:**

1. Inner Join:**texto en negrita**

IMPORTAR **LIBRERIAS**

In [1]:
import pandas as pd

# CREACION DE DATA **FRAME**

In [6]:
df1 = pd.DataFrame({
    'ID': [1,2,3,4],
    'Nombre': ['Ana','Juan','Maria','Carlos'],
    'Departamento': ['Ventas','IT','Marketing','RH']
})
df2 = pd.DataFrame({
    'ID': [3,4,5,6],
    'Salario': [50000,60000,55000,65000]

})
print("Data Frame 1:")
print(df1)

print("\nData Frame 2:")
print(df2)

Data Frame 1:
   ID  Nombre Departamento
0   1     Ana       Ventas
1   2    Juan           IT
2   3   Maria    Marketing
3   4  Carlos           RH

Data Frame 2:
   ID  Salario
0   3    50000
1   4    60000
2   5    55000
3   6    65000

# Fusion Inner

In [4]:
inner_merge = pd.merge(df1, df2, on='ID', how='inner')
print("Fusion Inner:")
print(inner_merge)

Fusion Inner:
   ID  Nombre Departamento  Salario
0   3   Maria    Marketing    50000
1   4  Carlos           RH    60000

# Fusion Outer

In [7]:
outer_merge = pd.merge(df1, df2, on='ID', how='outer')
print("Fusion Outer:")
print(outer_merge)

#Junta todo

Fusion Outer:
   ID  Nombre Departamento  Salario
0   1     Ana       Ventas      NaN
1   2    Juan           IT      NaN
2   3   Maria    Marketing  50000.0
3   4  Carlos           RH  60000.0
4   5     NaN          NaN  55000.0
5   6     NaN          NaN  65000.0

# FUSION LEFT

In [8]:
left_merge = pd.merge(df1, df2, on='ID', how='left')
print("FUSION  LEFT:")
print(left_merge)

#Junta basado en la izquierda

FUSION  LEFT:
   ID  Nombre Departamento  Salario
0   1     Ana       Ventas      NaN
1   2    Juan           IT      NaN
2   3   Maria    Marketing  50000.0
3   4  Carlos           RH  60000.0

# FUSION RIGHT

In [9]:
right_merge = pd.merge(df1, df2, on='ID', how='right')
print("FUSION  right:")
print(right_merge)

#Junta basado en la DERECHA

FUSION  right:
   ID  Nombre Departamento  Salario
0   3   Maria    Marketing    50000
1   4  Carlos           RH    60000
2   5     NaN          NaN    55000
3   6     NaN          NaN    65000

# Concatenacion

In [14]:
#Concatetacion
df3 = pd.DataFrame({
    'ID': [7,8],
    'Nombre': ['Sofia','Pedro'],
    'Departamento': ['Finanzas','Ventas']
})

concatenated = pd.concat([df1,df3])
concatenated1 = pd.concat([df1,df2])
concatenated2 = pd.concat([concatenated,df3,])
print("Concatenacion de DataFrames:")
print(concatenated)
print(concatenated1)
print(concatenated2)

Concatenacion de DataFrames:
   ID  Nombre Departamento
0   1     Ana       Ventas
1   2    Juan           IT
2   3   Maria    Marketing
3   4  Carlos           RH
0   7   Sofia     Finanzas
1   8   Pedro       Ventas